/* Estilos generales */
body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    color: white; /* Todo el texto en blanco */
    background-color: black; /* Fondo negro */
    background-image: url('fondodepantalla.png'); /* Imagen de fondo */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    padding: 20px 0;
    background-color: black;
}

header img {
    max-width: 200px;
    display: block;
    margin: 0 auto;
}

main {
    padding: 50px 0;
}

.service {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    padding: 20px;
    background-color: rgba(255, 215, 0, 0.8); /* Fondo dorado con transparencia */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.service-description {
    flex: 1;
    padding-left: 20px;
}

.service-description h2 {
    color: black; /* Encabezados en negro */
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.service-description p {
    color: black; /* Texto en negro */
    margin-bottom: 15px;
}

/* Estilos específicos para encabezados */
h1, h2, h3 {
    text-align: center;
    color: white; /* Encabezados en blanco */
}

/* Enlaces */
a {
    color: white; /* Color de enlaces en blanco */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
